# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE Settings
.idea/
.vscode/

# Environment Variables
.env

# Logs
*.log

# MacOS
.DS_Store

bug_reports.db
*.db
alembic/
alembic.ini.env
