# Core dependencies
alembic
aiohttp
annotated-types
anyio>=3.7.1
fastapi
pydantic
pydantic_core
SQLAlchemy
starlette
uvicorn

# Authentication & Security
ecdsa
email_validator
passlib
python-jose
python-multipart

# AWS
boto3
botocore
s3transfer

# WebSocket & Async
websockets
asyncio
aioredis

# Firebase
firebase-admin

# Media Handling
ffmpeg-python
python-magic
aiofiles
Pillow

# Utils
certifi
charset-normalizer
click
dnspython
greenlet
h11
idna
jmespath
Mako
MarkupSafe
pyasn1
python-dateutil
python-dotenv
requests
rsa
setuptools
six
sniffio
typing_extensions
urllib3
wheel
